/* Custom Stylesheet */
/**
 * By: Kobe Subramaniam
 * http://kobebigs.com
 *
 */


.html{
    font-family: "CircularStd" !important;
}

.brand-logo img{
  width: 460px;
  height: auto;
}

p {
  line-height: 2rem;
}

.header{
    font-family: "Yantramanav", sans-serif;
}
.toph{
    /*padding-top: 2rem;*/
}
.crh{
    color: #e5007d;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 680px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
    padding-top: 06%
}
.pledge{
    font-weight: bold;
}

.partner_logo{
    padding-top: 2rem;
}

.partner_logo li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.social-connect li{
    display: inline;
}

.social-icon{
    width: 56px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 11%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  padding-top: 3rem;
  background-color: #e5007d !important;
}

@font-face {
  font-family: "CircularStd";
  src: url("..fonts/CircularStd/CircularStd-Book.otf");
  font-weight: "normal";
  font-style: "normal"; }
